version: "3"
services:
  frontend: 
    image: frontendtictactoepvp
    stdin_open: true
    ports: 
      - "3000:3000"
    networks:
    - tictactoepvp
  backend: 
    image: backend
    ports:
      - "8000:8000"
    networks:
    - tictactoepvp
networks:
  tictactoepvp:
    driver: bridge