.gb-main-div {
    display: flex;

    justify-content: center;
    align-content: center;
}

.gb-game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);

    justify-items: center;
    align-items: center;
}

.gb-tile-div {
    width: 100%;
    height: 100%;
}
